/*test*/
.content{ margin: auto;
    border-radius: 10px;
}
    
 .footer{
margin: auto;
height: 40px;
background-color: lightgrey;
padding: 10px;
margin: auto;
border-radius: 5px;
box-shadow:5px 5px 6px gray ;
}

.footer img{ width: 30px;
height: 30px;

}

.button{
    font-size: 20px;
padding: 10px;
}

.interbtn{position: absolute;
font-size: 25px;
text-align: left;
padding-left: 20px;
padding-top: 20px;
text-decoration: none;
color: rgb(155, 35, 35)
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111111;
        }


